<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteRead</servlet-name>
        <servlet-class>com.iesvdc.acceso.controlador.ClienteRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteCreate</servlet-name>
        <servlet-class>com.iesvdc.acceso.controlador.ClienteCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteRead</servlet-name>
        <url-pattern>/ClienteRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteCreate</servlet-name>
        <url-pattern>/ClienteCreate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
